*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
}
*:focus {
    outline: none;
}
/*navigation*/

.nav {
    width: 100%;
    background-color: white;
    font-size: 17px;
    padding: 15px;
    overflow: hidden;
    position: fixed;
    top: 0;  
    z-index: 1;
}

.logo, .logo1{
    font-size: 19px;
    color: crimson; 
    width: 10%;
    float: left;
}

ul{
    list-style: none;
    margin-right: 5%;
    margin-top: 2px;
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
}
li{
    display: inline-block;    
}
li a:hover{
    color: crimson;
    transition: all 0.4s ease 0s;
}
a{
    display: block;
    text-decoration: none;
    padding: 11px 15px;
    color: black; 
}

/*hamburger*/
.menu {
    overflow: hidden;
}
.menu .icon {
    display: none;
}




/*banner*/

.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.596)), url("./klo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.p1{
    margin-top: 230px !important;
    position: absolute;
    font-size: 40px;
    letter-spacing: 8px;
    color:black;
    margin-top: 20%;
    background-color: white;
    padding: 12px 15px;
    border:  1px solid white;
    width: 75vw;
}
.span{
    border: 1px solid white;
    width: 45%;
    text-align: center;
    font-size: 45px;
    letter-spacing: 8px;
    background-color: white;
    color: crimson !important;
}
/*texts*/
h1{
    text-align: center;
    padding: 21px 10px;
    letter-spacing: 4px;
    margin-top: 3%;
}
.t3{
    margin-top: 8%;
}
h2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.paragraf {
   margin: 0 10% 0 10%; /*  10% SVE 4 STRANE */
   padding-top: 25px;
   padding-bottom: 25px;
}
.onedescp{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 25px;
}

/*
 *  GRIDS
 */

.gridbig{
    display:grid;
    align-items:center;
    justify-content: center;
    align-content: center;

    grid-template:
    ". . ." 1fr,
    ". p ." 1fr,
    ". . ." 1fr /
    1fr 1fr 1fr;
}
.gridsmall{
    display: grid;
    grid-area: p;
}
/* banners - dizajn i marketing */
.one{
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.596)), url("./pro12.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
}
.p2{
    text-align: center;
    font-size: 40px;
    color: black;
    background-color: white;
    padding: 10px 30px;  
}
.two{
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.658)), url("./marketing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
}
/*banner - korisnicka podrska */
.p3{
    text-align: center;
    font-size: 40px;
    color: black;
    background-color: white;
    padding: 10px 30px;
}
.three{
    background-image: linear-gradient(rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.596)), url("./tech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
}
/*zatražite ponudu*/
h3{
    text-align: center;
    font-size: 30px;
    padding: 80px;
    color: white; 
}
/*copyright*/
h4{
    font-size: 10px;
    bottom: 0;
}
/* buttons */
button{
    padding: 8px 10px;
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    border-radius: 5px ;
    width: fit-content;
    border: none;
}
button:hover{
    background-color:rgba(21, 78, 70, 0.644);
    transition: all 0.4s ease 0s;
}
.usluge{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    font-size: 30px;
    padding: 20px;
    margin-left: 50px;
    letter-spacing: 4px;
}
/* forma */
.form {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin-top: 10%;
}
input, select, textarea {
    width: 25%;
    padding: 20px 40px;
    color: black;
}


.mess{
    width: 57%;
    padding: 30px;
    margin-top: 2%;
}
.send{
    width: 20%;
    margin-top: 1%;
}
.send:hover{
    background-color: crimson;
    transition: all 0.4s ease 0s;
    color: white;
    border: crimson;
}
/* footer */
footer{
    background-color: #787878;
}
.icons{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.icons a{
    display: inline-block;
    font-size: 35px;
    padding: 15px 20px;
    text-decoration: none;
    color: crimson;   
    margin-top: 10%;
}
.icons a:hover {
    color: white;
    transition: all 0.4s ease 0s;
}

/*o nama */ 
.p1on{
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin: 0 10% 0 10%;
}
.tko{
    margin-top: 10%;
}
/*usluge*/
.h1usluge{
    margin-top: 10%;
    font-size: 30px;
    text-align: center;
}

